.wrapper {
  --track-card-actions-width: 56px;
  position: relative;
  list-style-type: none;
}

.card {
  width: 100%;
  padding: 16px;
  text-align: left;
  border: none;
  appearance: none;
  cursor: pointer;
  color: var(--white);
  background-color: var(--grey-750);
  border-bottom: 1px solid var(--grey-650);
  transition: var(--transition);
  display: grid;
  grid-template-columns: max-content 1fr var(--track-card-actions-width);
  grid-template-areas:
    'image name   loops'
    'image artist loops';
  gap: 0 10px;
}

.cardIsActive {
  background-color: var(--grey-800);
}

.cardIsDeleting {
  --track-card-actions-width: 76px;
  grid-template-areas:
    'image name loops'
    'image name loops';
}

.cardIsDeleting .name {
  align-self: center;
}

:first-of-type > .card {
  border-top: 1px solid var(--grey-650);
}

.wrapper:hover .card,
.wrapper:focus-visible .card {
  background-color: var(--grey-650);
}

.singleLineText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name {
  grid-area: name;
  align-self: end;
  composes: h4 from global;
  composes: singleLineText;
}

.artist {
  grid-area: artist;
  align-self: start;
  composes: small from global;
  composes: singleLineText;
}

.loops {
  grid-area: loops;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 3px;
  justify-content: end;
  align-items: end;
  line-height: 1;
  transition: var(--transition);
  opacity: 1;
  visibility: visible;
  composes: formSecondary from global;
}

.image {
  grid-area: image;
}

.wrapper:hover .loops,
.wrapperHasFocus .loops {
  opacity: 0;
  visibility: hidden;
}

.wrapper:hover .actions,
.wrapperHasFocus .actions {
  opacity: 1;
  visibility: visible;
}

.form {
  cursor: initial;
  composes: card;
  transition: none;
}
