.wrapper {
  display: flex;
  align-self: stretch;
}

.container {
  width: 100%;
  padding: 32px 16px 0;
  background-color: var(--grey-800);
  composes: shadowDark from global;
}

.userInfo {
  display: grid;
  gap: 0 16px;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: repeat(2, max-content);
}

.profilePicture {
  grid-row: 1 / -1;
}

.actionMenu {
  grid-row: 1 / -1;
  grid-column: 3;
  align-self: center;
  margin-top: 2px;
}

@media screen and (max-width: 940px) {
  .wrapper {
    align-self: start;
  }

  .container {
    width: 100%;
    background: transparent;
    box-shadow: none;
  }

  .toggleWrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: max-content max-content;
  }

  .actionMenu {
    margin-top: 0;
  }

  .containerMobile {
    composes: container;
    padding-top: 10px;
  }

  .overlay,
  .overlayBackground {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .overlay {
    max-width: 280px;
    background: var(--grey-800);
    padding: 55px 16px 0;
    composes: shadowDark from global;
  }

  .overlayBackground {
    z-index: 1;
    background: var(--grey-800);
  }
}
