.container {
  display: grid;
  grid-template-areas:
    'title  title'
    'player moments';
  grid-template-columns: 1fr 294px;
  gap: 23px 16px;
  padding: 51px 32px;
}

.title {
  grid-area: title;
  composes: special from global;
}

.subtitle {
  display: block;
  text-transform: uppercase;
  composes: info from global;
}

.player {
  grid-area: player;
}

.moments {
  grid-area: moments;
}
