.container {
  display: grid;
  grid-template-areas:
    'title add'
    'list list';
  grid-template-columns: 1fr min-content;
  grid-template-rows: max-content max-content;
  gap: 17px 0;
}

.list {
  grid-area: list;
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  grid-area: title;
  composes: h2 from global;
}

.add {
  grid-area: add;
  align-self: center;
}
