.button {
  border-radius: 40px;
  padding: 4.5px 20px 4.5px 20px;
  background: var(--blue-600);
  border: 2px solid var(--blue-600);
  color: var(--white);
  font-family: var(--open-sans);
  font-weight: bolder;
  font-size: 14px;
  line-height: 1.5;
  composes: buttonReset from global;
}

.button:hover {
  background: var(--blue-700);
  border-color: var(--blue-700);
}

.button:disabled {
  color: var(--grey-400);
  background: var(--grey-200);
}

.button:disabled {
  cursor: not-allowed;
}

.buttonIsWhite {
  color: var(--blue-600);
  border-color: var(--blue-600);
  background: var(--white);
}

.buttonIsWhite:hover {
  color: var(--blue-800);
  border-color: var(--blue-800);
  background-color: var(--blue-100);
}

.spinner {
  width: 14px;
  height: 14px;
  color: inherit;
  border: 2px solid;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinnerRotate 1s linear infinite;
  display: inline-block;
}

.spinner:not(:only-child) {
  margin-right: 8px;
}

@keyframes spinnerRotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
