.button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonIsTiny {
  width: 24px;
  height: 24px;
}

.buttonIsSmall {
  width: 34px;
  height: 34px;
}

.plusIcon,
.cancelIcon {
  width: 14px;
}

.checkIcon {
  width: 16px;
}
